.recipes {
  background-color: #fff;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 215px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  align-items: flex-start;
}

.recipes__title {
  max-width: 580px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", Times, serif;
  margin-bottom: 0;
  margin-top: 24px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__iframe {
  border: 0;
}

.recipes__iframe_caption {
  display: flex;
  justify-content: space-between;
}

.recipes__iframe-caption-content {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 30px;
}
